:root {
    /* LIGHT GREEN - bh 030524 */
    --color1: #F3F7D4;
    /* DARKER GREEN, STILL LIGHT */
    --color2: #CBE432;
    /* DARK PINK */
    --color3: #AE0D7A;
    /* Light PINK */
    --color4: #B81484;
    /* VERY DARK PURPLE */
    --color5: #340926;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkslateblue ;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
}
/* SECTION HEADERS COULD BE SWAPPED FOR <H3> */
h3 {
    color: darkgoldenrod;
    font-style: italic;
    font-variant: small-caps;
}

.employerName {
    color: var(--color4);
    font-style: italic;
}

.positionTitles {
    color: var(--color4);
    font-weight: bold;
    font-variant: small-caps;
}

.employedDates {
    color: lightcoral;
    font-style: italic;
}

table {
    margin: 14px;
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 98%;
}

caption {
    font-style: italic;
    color: gray;
    letter-spacing: 2px;
    text-decoration: underline;
}

th {
    font-style: italic;
    font-variant: small-caps;
    color: var(--color3);
}

td {
    border: 1px solid var(--color3);
    vertical-align: top;
    padding: 7px;
    color: var(--color5);
}

td.noborder{
    border: none;
    vertical-align: top;
    padding: 7px;
    color: var(--color5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}


